.screen {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    width: 100%;
    max-width: 1000px; /* largura máxima para evitar esticar demais */
    margin: 0 auto;  
}


.filtro {
    display: flex;
    flex-wrap: wrap;
    gap: 0.7rem;
    align-items: flex-start;
}

.screen input {
    background-color: var(--cinza-claro);
    padding: 1rem;
    border-radius: 5px;
    color: black;
    border: 1.5px solid var(--cinza);
    font-size: 15px;
    flex: none;
    max-height: 15px;
    
}

.screen .date_input{
    color: #00000077;
}

.medicamento_input {
    width: 100%;
}

.linha-baixo {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(2fr,2fr)); */
    width: 100%;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(11rem, 1fr));
    grid-auto-rows: auto;
}


.list_of_information{
    margin-top: 3%;
    width: 100%;
}

table{
    width: 100% !important;
    border-collapse: collapse;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0; */
}

.header{
    background-color: none;
    color: black;
    font-size: 17px;
    text-align: center;
}

table tr{
    width: 100% !important;
}

.header th{
    margin-right: 20px;
    padding: 10px;
}

.lines td{
    padding: 20px;
    border-bottom: 1.5px solid var(--cinza);
}


.list_of_information table {
    border-collapse: collapse;
    margin: 0 auto;
    border-spacing: 1.2rem 0
    
}

.list_of_information th,
.list_of_information td {
    padding: 10px 22px;
    text-align: center;
}

#red{
    color: var(--vermelho);
}

.bt_confirmar{
    position: fixed;
    bottom: 20px;
    right: 20%;
    display: flex;
    gap: 10px;
    justify-content: space-around;
}

#trash{
    width: 20px;
}