body {
  background-color: #FBFBF4;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;

}

.form-group {
  margin-bottom: 30px;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);

}

input {
  background-color: #D9D9D9;
  width: 400px;
  max-width: 300%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #D9D9D9;
  border-radius: 2px;
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);*/


}

img {
  height: 150px;
  margin-bottom: 20px;

}

.link-rodape {
  position: fixed;
  bottom: 135px;
  /*  */
  left: 51%;
  color: rgb(64, 65, 61);
  font-size: 12.8px;
  text-decoration: none;
}

button {
  position: fixed;
  left: 55%;
  bottom: 45px;
  /*  */
  width: 150px;
  max-width: 100%;
  padding: 12px;
  font-size: 18px;
  border: 0px solid #d3d2d2;
  border-radius: 2px;
  box-shadow: 0px 1.5px 0px rgb(184, 178, 178);

  background-color: #BDD4DB;
}