@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --ciano: #0c676b;
    --branco: #fbfbf4;
    --verde-agua: #99c5c6;
    --azul-bebê: #bdd4db;
    --cinza: #7c9496;
    --preto: #1c1917;
    --cinza-claro: #D9D9D9;
    --azul-bebê-hover: #899A9F;

    --titulo: "Noto Sans", sans-serif;
    --corpo:  "Poppins", sans-serif;

}

body {
    margin: 0;
    font-family: var(--titulo);
}

main {
    margin-left: 3rem;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 3rem;
    top: 0;
    padding: 0.5rem 0;
    bottom: 0;
    position: fixed;
    background: var(--cinza);
    color: var(--branco);
}

nav div {
    align-self: center;
}

nav ul {
    list-style: none;
    padding: 1rem 0;
    margin: 0;
    border-top: solid 2px;
    border-bottom: solid 2px;
}

nav li {
    margin: 0;
}

nav li+li {
    margin-top: 0.5rem;
}

menu {
    margin: 0;
    padding: 0.5rem 1rem;
    background-color: var(--cinza-claro);
}

/* Cadastro Produto*/

menu span{
    color: var(--ciano);
}

.type_product{
    text-align: center;
    
}

.type_product button{
text-decoration: none;
color: var(--branco);
padding: 1rem;
width: 20%;
background-color: var(--cinza);
border: 1px solid black;
border-radius: 5px;

}

.type_product button:hover{
    background-color: var(--azul-bebê-hover);
    cursor: pointer;
}

.type_product label{
    font-size: 30px;
}

.type_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    gap: 1rem;
}

@media (max-width: 554px){
    .type_product button{
    text-decoration: none;
    color: var(--branco);
    padding: 1rem;
    width: 30%;
    background-color: var(--cinza);
    border: 1px solid black;
    border-radius: 5px;

}
    
}