<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/cadastro_produto_tela.css">
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <title>Cadastro Produto - OpusMed</title>
</head>

<body>
    <nav>
        <div>
            <i class="fi fi-rr-menu-burger"></i>
        </div>
        <div>
            <ul>
                <li>
                    <i class="fi fi-rs-box-open-full"></i>
                </li>
                <li>
                    <i class="fi fi-rs-box-open-full"></i>
                </li>
                <li>
                    <i class="fi fi-rs-box-open-full"></i>
                </li>
                <li>
                    <i class="fi fi-rs-box-open-full"></i>
                </li>
            </ul>
        </div>
        <div>

        </div>
    </nav>
    <main>
        <menu>
            <span>Cadastro Produto</span>
        </menu>

        <div class="screen">
            <div class="filtro">
                <input type="text" placeholder="Medicamento:" name="medicamento_input" class="medicamento_input">

                <div class="linha-baixo">
                    <input type="text" placeholder="Mg:" name="mg_input" class="mg_input">
                    <input type="text" placeholder="Tarja:" name="tarja" class="tarja_input">
                    <input type="text" placeholder="Lote: " name="lote" class="lote_input">
                    <input type="text" placeholder="Quantidade:" name="quantidade" class="quantidade_input">
                    <input type="date" name="data" class="date_input">  
                    <div class="bt"> 
                        <button class="botao">Adicionar</button>
                    </div>
                </div>
            </div>
        </div>


        <div class="list_of_information">
            <table>
                <tr class="header">
                    <th>Medicamento</th>
                    <th>MG</th>
                    <th>Tarja</th>
                    <th>Lote</th>
                    <th>Quantidade</th>
                    <th>. . .</th>
                </tr>

                <tr class="lines">
                    <td>ibuprofeno</td>
                    <td>200mg</td>
                    <td id="red">V</td>
                    <td>5E35687</td>
                    <td>30 caixas</td>
                    <td><img src="./trash.svg" alt="Icone de lata de lixo" id="trash"></td>
                </tr>

                  <tr class="lines">
                    <td>ibuprofeno</td>
                    <td>200mg</td>
                    <td id="red">V</td>
                    <td>5E35687</td>
                    <td>30 caixas</td>
                    <td><img src="./trash.svg" alt="Icone de lata de lixo" id="trash"></td>
                </tr>

                  <tr class="lines">
                    <td>ibuprofeno</td>
                    <td>200mg</td>
                    <td id="red">V</td>
                    <td>5E35687</td>
                    <td>30 caixas</td>
                    <td><img src="./trash.svg" alt="Icone de lata de lixo" id="trash"></td>
                </tr>
           
            </table>
            
        </div>

        <div class="bt_confirmar">
                <button class="botao">Confirmar Compra!</button>
            </div>


    </main>


</body>

</html>