<head>
    <link rel="stylesheet" href="../CSS/list-item-base.css">
    <link rel="stylesheet" href="../CSS/list-item-compra.css">
</head>
<section class="list">
    <header>
        <div class="row">
            <span>Mês</span>
            <span>Total</span>
        </div>
    </header>
    <ul class="accordation">
        <li>
            <input type="radio" name="accordation" id="1">
            <label for="1">
                <div class="row">
                    <span> Total</span>
                    <span> Janeiro</span>
                </div>
            </label>
            <div class="content">
                <table>
                    <tr>
                        <td >Dia</td>
                        <td >Fornecedor</td>
                        <td >Total</td>
                    </tr>
                    <tr>
                        <td >10</td>
                        <td >Asdrubal</td>
                        <td >2000,00</td>
                    </tr>
                    <tr>
                        <td >11</td>
                        <td >Coorp</td>
                        <td >1000,00</td>
                    </tr>
                </table>
            </div>
        </li>
    
    </ul>
</section>