

<head>
    <link rel="stylesheet" href="list-item.css">
</head>
    <section class="list">
        <header>
            <div class="row">
                <span>Total</span>
                <span>Mês</span>
            </div>
        </header>
        <ul class="accordation">
            <li>
                <input type="radio" name="accordation" id="1" checked>
                <label for="1">
                    <div class="row">
                        <span> R$ 3000,00 </span>
                        <span> Janeiro</span>
                    </div>
                </label>
                <div class="content">
                    <table>
                        <tr>
                            <td class="day">Dia</td>
                            <td class="supplier">Fornecedor</td>
                            <td class="total">Total</td>
                        </tr>
                        <tr>
                            <td class="day">10</td>
                            <td class="supplier">Asdrubal</td>
                            <td class="total">2000,00</td>
                        </tr>
                        <tr>
                            <td class="day">11</td>
                            <td class="supplier">Coorp</td>
                            <td class="total">1000,00</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <input type="radio" name="accordation" id="2">
                <label for="2">
                    <div class="row">
                        <span> R$ 3000,00 </span>
                        <span> Janeiro</span>
                    </div>
                </label>
                <div class="content">
                    <table>
                        <tr>
                            <td class="day">Dia</td>
                            <td class="supplier">Fornecedor</td>
                            <td class="total">Total</td>
                        </tr>
                        <tr>
                            <td class="day">10</td>
                            <td class="supplier">Asdrubal</td>
                            <td class="total">2000,00</td>
                        </tr>
                        <tr>
                            <td class="day">11</td>
                            <td class="supplier">Coorp</td>
                            <td class="total">1000,00</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <input type="radio" name="accordation" id="3">
                <label for="3">
                    <div class="row">
                        <span> R$ 3000,00 </span>
                        <span> Janeiro</span>
                    </div>
                </label>
                <div class="content">
                    <table>
                        <tr>
                            <td class="day">Dia</td>
                            <td class="supplier">Fornecedor</td>
                            <td class="total">Total</td>
                        </tr>
                        <tr>
                            <td class="day">10</td>
                            <td class="supplier">Asdrubal</td>
                            <td class="total">2000,00</td>
                        </tr>
                        <tr>
                            <td class="day">11</td>
                            <td class="supplier">Coorp</td>
                            <td class="total">1000,00</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <input type="radio" name="accordation" id="4">
                <label for="4">
                    <div class="row">
                        <span> R$ 3000,00 </span>
                        <span> Janeiro</span>
                    </div>
                </label>
                <div class="content">
                    <table>
                        <tr>
                            <td class="day">Dia</td>
                            <td class="supplier">Fornecedor</td>
                            <td class="total">Total</td>
                        </tr>
                        <tr>
                            <td class="day">10</td>
                            <td class="supplier">Asdrubal</td>
                            <td class="total">2000,00</td>
                        </tr>
                        <tr>
                            <td class="day">11</td>
                            <td class="supplier">Coorp</td>
                            <td class="total">1000,00</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <input type="radio" name="accordation" id="5">
                <label for="5">
                    <div class="row">
                        <span> R$ 3000,00 </span>
                        <span> Janeiro</span>
                    </div>
                </label>
                <div class="content">
                    <table>
                        <tr>
                            <td class="day">Dia</td>
                            <td class="supplier">Fornecedor</td>
                            <td class="total">Total</td>
                        </tr>
                        <tr>
                            <td class="day">10</td>
                            <td class="supplier">Asdrubal</td>
                            <td class="total">2000,00</td>
                        </tr>
                        <tr>
                            <td class="day">11</td>
                            <td class="supplier">Coorp</td>
                            <td class="total">1000,00</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <input type="radio" name="accordation" id="6">
                <label for="6">
                    <div class="row">
                        <span> R$ 3000,00 </span>
                        <span> Janeiro</span>
                    </div>
                </label>
                <div class="content">
                    <table>
                        <tr>
                            <td class="day">Dia</td>
                            <td class="supplier">Fornecedor</td>
                            <td class="total">Total</td>
                        </tr>
                        <tr>
                            <td class="day">10</td>
                            <td class="supplier">Asdrubal</td>
                            <td class="total">2000,00</td>
                        </tr>
                        <tr>
                            <td class="day">11</td>
                            <td class="supplier">Coorp</td>
                            <td class="total">1000,00</td>
                        </tr>
                    </table>
                </div>
            </li>
            <li>
                <input type="radio" name="accordation" id="7">
                <label for="7">
                    <div class="row">
                        <span> R$ 3000,00 </span>
                        <span> Janeiro</span>
                    </div>
                </label>
                <div class="content">
                    <table>
                        <tr>
                            <td class="day">Dia</td>
                            <td class="supplier">Fornecedor</td>
                            <td class="total">Total</td>
                        </tr>
                        <tr>
                            <td class="day">10</td>
                            <td class="supplier">Asdrubal</td>
                            <td class="total">2000,00</td>
                        </tr>
                        <tr>
                            <td class="day">11</td>
                            <td class="supplier">Coorp</td>
                            <td class="total">1000,00</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>
    </section>